[Desktop Entry]
Type=Application
Name=Rewa
GenericName=Game Clip Recorder
Comment=Capture and watch local instant replays
Exec=rewa-ui
TryExec=rewa-ui
Icon=io.github.mikaeww.Rewa
Terminal=false
Categories=AudioVideo;Recorder;
Keywords=rewa;replay;recording;clip;video;hyprland;kde;plasma;
StartupNotify=true
StartupWMClass=io.github.mikaeww.Rewa
Actions=SaveClip;

[Desktop Action SaveClip]
Name=Save replay now
Exec=rewactl save
